body {
    background-color: green;
    margin: 0;
}

.bg-box {
    height: 1080px;
    width: 1920px;
    background-image: url(./images/house.jpg), url(./images/hedgehog.webp), url(./images/lamp.png), url(./images/donat.png), url(./images/grass.png);
    background-repeat: no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
    background-position: center, left, top, right, bottom;
    background-size: auto, 50px, 50px, 50px, 400px;
}